form {
    width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    width: 25%;
    padding: 15px;
    background: #6b73ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background 0.3s ease;
}

form button {
    background: #000dff;
}

.error-message {
    color: red;
}